<div class="bgcolor-div" >


  <!-- Nav bar -->


  <div class="my-navbar" >
    <div class="maxwidth-div" >
      <h3 [routerLink] = "['/regions']" class="home-text"> Home </h3>
    </div> 
  </div>


  <!--Input box  -->


  <div class="maxwidth-div" >
    <form >
      <div style="position: relative;" >
        <div class="input-box-1  ">
          <i class="fa fa-search icon" ></i>
          <input [(ngModel)] = 'listFilter' name="listfilter"  type="search" class="form-control sizing-input" placeholder="Search for a country..">
      </div>
      <div class="search-content" >
          <div class="d-flex flex-column" >
            <div [routerLink] = "['/country',state.name]"   class="search-dropdown" *ngFor="let state of countriesSearch" [value]="state.name">
              <img class="example-option-img" aria-hidden [src]="state.flag" height="25">
              <span>{{state.name}}</span> 
            </div>
          </div>
      </div>
      </div>
           
    </form>


    <!-- Card Content -->


    <div class="carddiv" *ngIf = "countries$ | async as countries" > 
      <div class="row">
        <div class=" col-12 col-sm-6 col-md-4 col-xl-3 my-card " *ngFor = 'let country of countries' >
          <div [routerLink] = "['/country',country.name]" class="card-content card">
            <div class="img-content" >
              <img [src]= 'country.flag'  class="img-card" alt="...">
            </div>    
            <div class="card-body ">
              <h3 class="card-title mycard-title"> {{country.name}} </h3>
              <h5><strong>Population:</strong> {{country.population}} </h5>
              <h5><strong>Region:</strong> {{country.region}} </h5>
              <h5><strong>Capital:</strong> {{country.capital}} </h5>
              
              <div class="d-flex flex-wrap  " >
                <h5> <strong>Languages:</strong> </h5>
                <button class="btn list-button"  [routerLink]= "['/countries','lang', lang.name ]" *ngFor = 'let lang of country.languages'  > {{lang.name}} </button>
              </div>
            </div>
        </div> 
        </div>
      </div>  
    </div>
    <div>

    </div>
    
  </div>
</div>





