@font-face {
    font-family: 'Nunito' ;
    src : url('src/assets/fonts/NunitoSans-Regular.ttf')
}

/* Typography */
h3,h4,h5,h6 {
    margin-bottom: 0.25rem!important;
}

/* background */
.bgcolor-div {
    font-family: 'Nunito' ;
    background-color: hsl(207, 26%, 17%);
    color: white;
    background-repeat: repeat-y;
}

/* Navbar */
.my-navbar {
    box-shadow: 0px 1px 5px rgb(0, 0, 0,0.5);
    margin-bottom: 1rem;
    background-color: hsl(209, 23%, 22%);
}

.home-text {
    display: inline-block;
    font-weight: bold;
    padding: 0.75em 0;
    cursor: pointer;
    margin: 0!important;
}

/* Maxwidth container */

.maxwidth-div {
    margin: 0 auto;
}

.back-button {
    background-color: hsl(209, 23%, 22%);
    color: white;
    font-size: 0.75rem;
    padding: 0.25em 2em!important;
    margin: 3em 0 3.25em 0!important;
    box-shadow: 0px 0px 5px rgb(0, 0, 0,0.5);
}

.back-button:hover {
    background-color: whitesmoke!important;
    color: black!important;
}





.country-img {
    width: 70%!important;
    margin-bottom: 1em;
}

.list-items:hover {
    text-decoration: underline;
}

.list-items:after {
    content: " ,";
}

.list-items:last-child:after {
    content: "";
}

/* border */
.border-button {
    background-color: hsl(209, 23%, 22%);
    color: white;
    font-size: 0.75rem;
    padding: 0 1em!important;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    box-shadow: 0px 0px 5px rgb(0, 0, 0,0.5);
}

.border-button:hover {
    background-color: whitesmoke!important;
    color: black!important;
}


.borders-text {
    margin-bottom: 0!important;
}

@media only screen and (max-width: 600px) {
    .maxwidth-div {
        max-width: 400px;
    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .maxwidth-div {
        max-width: 550px;
    }

    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .maxwidth-div {
        max-width: 760px;
    }

    .country-img {
        width: 100%!important;
    }

    .bgcolor-div {
        background-repeat: none;
    }

    .content-div {
        height: 73vh;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .maxwidth-div {
        max-width: 950px;
    }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .maxwidth-div {
        max-width: 1150px;
    }
}