<div class="my-container" >
  <div class="maincontent-div" >
    <div class="regions-div" >
      <div class="region-box" [routerLink] = "['/countries','region','Africa']" >
        <img src="../../assets/images/imag-white/output-onlinepngtools(1).png" class="region-image" alt="">
        <h5 class="region-name" >Africa</h5>
      </div>
      <div class="region-box" [routerLink] = "['/countries','region','Americas']" >
        <img src="../../assets/images/imag-white/statue_of_liberty_PNG24.png" class="region-image" alt="">
        <h5 class="region-name" >America</h5>
      </div>
      <div class="region-box" [routerLink] = "['/countries','region','Asia']" >
        <img src="../../assets/images/imag-white/output-onlinepngtools.png" class="region-image" alt="">
        <h5 class="region-name" >Asia</h5>
      </div>
      <div class="region-box" [routerLink] = "['/countries','region','Europe']" >
        <img src="../../assets/images/imag-white/output-onlinepngtools(2).png" class="region-image" alt="">
        <h5 class="region-name" >Europe</h5>
      </div>
      <div class="region-box" [routerLink] = "['/countries','region','Oceania']" >
        <img src="../../assets/images/imag-white/output-onlinepngtools(3).png" class="region-image" alt="">
        <h5 class="region-name" >Oceania</h5>
      </div>
    </div>
  </div>
</div>


<!-- <div class="maincontent-div" >
    <div class="my-container"  >
        <div>
            <div class="row justify-content-lg-between justify-content-md-around " >
                <div [routerLink] = "['/countries','region','Africa']" class="col-lg-3 col-md-5 col-sm-12  my-card "  >
                    <div id="carouselExampleSlidesOnly1" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/images/africa/pic1.jpg" alt="First slide">
                          </div>
                          <div class="bottom-text" >
                              <h2 class="text-content" >Africa</h2>
                          </div>
                        </div>
                      </div>
                </div>
                <div [routerLink] = "['/countries','region','Americas']" class="col-lg-3 col-md-5 col-sm-12 my-card"  >
                    <div id="carouselExampleSlidesOnly2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/images/americas/pic1.jpg" alt="First slide">
                          </div>
                          <div class="bottom-text" >
                            <h2 class="text-content" >Americas</h2>
                        </div>
                        </div>
                      </div>
                </div>
                <div [routerLink] = "['/countries','region','Asia']" class="col-lg-3 col-md-5 col-sm-12  my-card "  >
                    <div id="carouselExampleSlidesOnly3" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/images/asia/pic1.jpg" alt="First slide">
                          </div>
                          <div class="bottom-text" >
                            <h2 class="text-content" >Asia</h2>
                        </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row justify-content-around " >
                <div [routerLink] = "['/countries','region','Europe']" class="col-lg-3 col-md-5 col-sm-12 my-card "  >
                    <div id="carouselExampleSlidesOnly4" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/images/europe/pic1.jpg" alt="First slide">
                          </div>
                          <div class="bottom-text" >
                            <h2 class="text-content" >Europe</h2>
                        </div>
                        </div>
                      </div>
                </div>
                <div   class="col-lg-3 col-md-5 col-sm-12 my-card "  >
                    <div id="carouselExampleSlidesOnly5" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/images/oceania/pic1.jpg" alt="First slide">
                          </div>
                          <div class="bottom-text" >
                            <h2 class="text-content" >Oceania</h2>
                        </div>
                        </div>
                      </div>
                </div>
    
            </div>
        </div>
    </div> 
</div> -->

