.row {
    margin: 0!important;
}


.maincontent-div {
    background-image: url('src/assets/images/new-image2.jpg')!important;
    background-size: cover;
    background-repeat: repeat-y;
}

.my-container {
    margin: 0 auto;
    text-align: center;
}

.bottom-text {
    position: relative;
    z-index: 10;
    color: white;
    background-color: rgb(0, 0, 0,0.5);
    height: 40px;
    transition: 0.5s ;
    
}

.my-card {
    background-color: white;
    padding: 0.5em!important;
    box-shadow: inset 0 0 5px #000000  ;
    margin: 1.5em 0em;
}


.my-card:hover .bottom-text {
    transition: 0.7s ;
    cursor: pointer;

}

.text-content {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,0);
    transition: 0.4s;
}

.my-card:hover .text-content {
    top: 50%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}

@media only screen and (max-width: 600px) {
    .my-container {
        max-width: 400px;
    }

    .my-card:hover .bottom-text {
        height: 215px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .my-container {
        max-width: 500px;
    }

    .my-card:hover .bottom-text {
        height: 271px;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .my-container {
        max-width: 650px;
    }

    .maincontent-div {
        height: 100vh;
        background-image: url('src/assets/images/bg-image.jpg');
        background-repeat: none;
    }

    .my-card:hover .bottom-text {
        height: 143px;
    }

    .my-container {
        height: 100vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .my-container {
        max-width: 950px;
    }

    .my-card:hover .bottom-text {
        height: 124px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .my-container {
        max-width: 1150px;
    }

    .my-card:hover .bottom-text {
        height: 152px;
    }
}
