<div class="maincontent-div" >
    <div class="my-container"  >
        <div>
            <div class="row justify-content-lg-between justify-content-md-around " >
                <div [routerLink] = "['/countries','region','africa']" class="col-lg-3 col-md-5 col-sm-12  my-card "  >
                    <div id="carouselExampleSlidesOnly1" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/images/africa/pic1.jpg" alt="First slide">
                          </div>
                          <div class="bottom-text" >
                              <h2 class="text-content" >Africa</h2>
                          </div>
                        </div>
                      </div>
                </div>
                <div [routerLink] = "['/countries','region','americas']" class="col-lg-3 col-md-5 col-sm-12 my-card"  >
                    <div id="carouselExampleSlidesOnly2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/images/americas/pic1.jpg" alt="First slide">
                          </div>
                          <div class="bottom-text" >
                            <h2 class="text-content" >Americas</h2>
                        </div>
                        </div>
                      </div>
                </div>
                <div [routerLink] = "['/countries','region','asia']" class="col-lg-3 col-md-5 col-sm-12  my-card "  >
                    <div id="carouselExampleSlidesOnly3" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/images/asia/pic1.jpg" alt="First slide">
                          </div>
                          <div class="bottom-text" >
                            <h2 class="text-content" >Asia</h2>
                        </div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="row justify-content-around " >
                <div [routerLink] = "['/countries','region','europe']" class="col-lg-3 col-md-5 col-sm-12 my-card "  >
                    <div id="carouselExampleSlidesOnly4" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/images/europe/pic1.jpg" alt="First slide">
                          </div>
                          <div class="bottom-text" >
                            <h2 class="text-content" >Europe</h2>
                        </div>
                        </div>
                      </div>
                </div>
                <div [routerLink] = "['/countries','region','oceania']" class="col-lg-3 col-md-5 col-sm-12 my-card "  >
                    <div id="carouselExampleSlidesOnly5" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img class="d-block w-100" src="../../assets/images/oceania/pic1.jpg" alt="First slide">
                          </div>
                          <div class="bottom-text" >
                            <h2 class="text-content" >Oceania</h2>
                        </div>
                        </div>
                      </div>
                </div>
    
            </div>
        </div>
    </div> 
</div>

