@import "../../assets/variables.scss";

.my-container {
    background-color: hsl(207, 26%, 17%);
    margin: 0 auto;
}

.maincontent-div {
    display: flex;
    justify-content: center;
}

.regions-div {
    display: flex;
    flex-direction: column;
}

.region-box {
    margin: 1em;
}

.region-image {
    height: 220px;
    width: 220px;
    max-width: 100%;
    max-height: 100%;
    padding: 20px;
    object-fit: contain;
    transition: 0.5s;
}

.region-name {
    color: white;
    text-align: center;
    font-size: 1em;
    font-family: 'Nunito-Sans-Bold';
    text-transform: capitalize;
}

.region-image:hover {
    padding: 0;
    /* height: 220px;
    width: 220px;
    object-fit: contain; */
    transition: 0.5s;
}







@media only screen and (max-width: 600px) {
    .my-container {
        max-width: 400px;
    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .my-container {
        max-width: 700px;
    }

    .regions-div {
        flex-direction: row;
    }

    .maincontent-div {
        height: 100vh;
        align-items: center;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .my-container {
        max-width: 800px;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .my-container {
        max-width: 950px;
    }

    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .my-container {
        max-width: 1150px;
    }

    
}
