<div class="my-container" >
    <div class="maincontent-div" >
      <div class="regions-div" >
        <div class="region-box" [routerLink] = "['/app/countries','region','Africa']" >
          <img src="../../assets/images/imag-white/output-onlinepngtools(1).png" class="region-image" alt="">
          <h5 class="region-name" >Africa</h5>
        </div>
        <div class="region-box" [routerLink] = "['/app/countries','region','Americas']" >
          <img src="../../assets/images/imag-white/statue_of_liberty_PNG24.png" class="region-image" alt="">
          <h5 class="region-name" >America</h5>
        </div>
        <div class="region-box" [routerLink] = "['/app/countries','region','Asia']" >
          <img src="../../assets/images/imag-white/output-onlinepngtools.png" class="region-image" alt="">
          <h5 class="region-name" >Asia</h5>
        </div>
        <div class="region-box" [routerLink] = "['/app/countries','region','Europe']" >
          <img src="../../assets/images/imag-white/output-onlinepngtools(2).png" class="region-image" alt="">
          <h5 class="region-name" >Europe</h5>
        </div>
        <div class="region-box" [routerLink] = "['/app/countries','region','Oceania']" >
          <img src="../../assets/images/imag-white/output-onlinepngtools(3).png" class="region-image" alt="">
          <h5 class="region-name" >Oceania</h5>
        </div>
      </div>
    </div>
  </div>
  