<div class="bgcolor-div" >


      <div class="loading-bar" *ngIf = "!(countries$ | async)" >
          <div>
            <p class="card-text" >Loading..</p>
            <i id="first" class="fa fa-spinner rotation-animation"></i>
          </div>
      </div>

      <!-- Card Content -->

      <div class="carddiv" *ngIf = "countries$ | async as countries" >
        <div class="grid-box" >
          <div *ngFor = 'let country of countries' >
            <div class="my-card5 h-100" [@header] [routerLink] = "['/app/country', country.name]"  >
              <div class="img-content" >
                <img [src]= 'country.flag'  class="img-card" alt="...">
              </div>
              <div class="card-body ">
                <h3 class=" mycard-title"> {{country.name}} </h3>
                <h5 class="card-text" ><strong>Population:</strong> {{country.population}} </h5>
                <h5 class="card-text" ><strong>Region:</strong> {{country.region}} </h5>
                <h5 class="card-text" ><strong>Capital:</strong> {{country.capital}} </h5>

                <div class="d-flex flex-wrap  " >
                  <h5> <strong>Languages:</strong> </h5>
                  <button class="list-button" (click)="$event.stopPropagation()" [routerLink]= "['/app/countries','lang', lang.name ]" *ngFor = 'let lang of country.languages'  > {{lang.name}} </button>
                </div>
                <div class="d-flex flex-wrap  " >
                  <h5> <strong>Currencies:</strong> </h5>
                  <button class="list-button" (click)="$event.stopPropagation()" [routerLink]= "['/app/countries','currency', currency.name ]" *ngFor = 'let currency of country.currencies'  > {{currency.name}} </button>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>





